menu "eshet"

    config ESHET_HOST
        string "eshet host to connect to"
        default 'server.lan'

    config ESHET_PORT
        int "eshet port to connect to"
        default 11235

endmenu
